<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon"
              href="static/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Normill ordliste</title>
        <link href="static/css/bootstrap.css"
              rel="stylesheet" media="screen">
        <link href="static/css/bootstrap-responsive.css"
              rel="stylesheet">
        <link href="static/css/custum.css"
              rel="stylesheet">
        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/zeroclipboard.js"></script>
        <script src="static/js/custum.js"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Normil ordliste</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Norsk-Engelsk</a></li>
                        <li><a href="#about">Engelsk-Norsk</a></li>
                        <li><a href="#contact">Om</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="row-fluid span10 offset1">

            <form id="search-form" class="well span5">
                <div class="control-group">
                    <div class="controls">
                        <label class="field-title" for="query">Søk etter norsk ord: </label>
                        <div class="controls">
                            <input id="query" name="query" type="text" value="{{ query }}">
                        </div>
                    </div>
                    <br>
                    <div class="controls">
                        <div class="btn-toolbar" data-toggle="buttons-radio">
                            <button type="button" id="exactWord" class="search-option btn btn-info active" value="0">Eksakt ord</button>
                            <button type="button" id="startsWith" class="search-option btn btn-info" value="1">Begynner med</button>
                            <button type="button" id="containsString" class="search-option btn btn-info" value="2">Inneholder</button>
                        </div>
                    </div>
                    <br>
                    <div class="controls">
                        <input type="hidden" id="search-option" name="search-option" value="{{ searchOption }}">
                        <button class="btn btn-info btn-lg" onclick="javascript:submitForm(parent)"><i class="icon-white icon-search"></i> Søk</button>
                    </div>
                    <br>
                    <label class="field-title">Fant {{ numberOfHits }} ord</label>
                </div>
            </form>

            <div class="well span5">
                <label class="field-title">Søkeoppsjoner</label>
                <ul>
                    <li>
                        Eksakt lik: Viser bare ord som er eksakt like med søkeordet
                    </li>
                    <li>
                        Begynner med: Viser ord som begynner på søkeordet
                    </li>
                    <li>
                        Inneholder: Viser ord som inneholder søkeordet
                    </li>
                </ul>
                <p>
                    <label class="field-title">Kopier norsk og engelsk ord</label>
                    <label class="normal">Klikk på ordet for å kopiere det til utklippstavlen</label>
                <p>
                    <label class="field-title">Bruksområder</label>
                    <label class="normal">La musepekeren hvile over bruksområdet for en mer utdypende forklaring.</label>
            </div>

        </div>


        <div class="row-fluid">
            <div class="span10 offset1">
{#                <div class="well">#}
                <table id="resulttable" class="table  table-responsive table-condensed" style="table-layout: fixed; width: 100%">
                    <thead>
                        <tr>
                            <th>
                                Norsk ord, eventuelt med forklaring
                            </th>
                            <th>
                                Bruksområde
                            </th>
                            <th>
                                Engelsk ord
                            </th>
                            <th>
                                Fork. / akronymer
                            </th>
                        </tr>
                    </thead>
                    </tbody>
                    {% for word in results %}
                    <tr>
                        <td>
                            <button id="nor-word-{{ forloop.counter0 }}" data-clipboard-text="" class="btn btn-xs btn-default normal"  title="Klikk for å kopiere ordet til utklippstavlen">{{ word.nor }}</button>
                            {% if word.nor_expl %}
                                &nbsp;<label class="normal">{{ word.nor_expl }}</label>
                            {% endif %}
                        </td>
                        <td>
                            {% for abbr in word.nor_abr %}
                                <button class="btn btn-xs btn-default normal" title="{{ abbr.abbr_expl.nor }}">{{ abbr.abbr }}</button>
                            {% endfor %}
                        </td>
                        <td>
                            <button id="eng-word-{{ forloop.counter0 }}" data-clipboard-text="" class="btn btn-xs btn-default normal" title="Klikk for å kopiere ordet til utklippstavlen">{{ word.eng }}</button>
                        </td>
                        <td>
                            {% for abr in word.eng_abr %}
                                <button title="{{ abr.obso }}" class="btn btn-xs btn-default normal">{{ abr.word }}&nbsp;&nbsp;({{ abr.language }})</button>
                            {% endfor %}
                        </td>
                    </tr>
                    <script>
                        var clip{{ forloop.counter0 }} = new ZeroClipboard( document.getElementById("nor-word-{{ forloop.counter0 }}"), {
                            moviePath: "/static/flash/ZeroClipboard.swf"
                        } );
                        document.getElementById("nor-word-{{ forloop.counter0 }}").setAttribute('data-clipboard-text', document.getElementById('nor-word-{{ forloop.counter0 }}').innerText);

                        var clip{{ forloop.counter0 }} = new ZeroClipboard( document.getElementById("eng-word-{{ forloop.counter0 }}"), {
                            moviePath: "/static/flash/ZeroClipboard.swf"
                        } );
                        document.getElementById("eng-word-{{ forloop.counter0 }}").setAttribute('data-clipboard-text', document.getElementById('eng-word-{{ forloop.counter0 }}').innerText);
                        clip{{ forloop.counter0 }}.on( "load", function(client) {
                            client.on( "complete", function(client, args) {
                                alert("Ordet '" + args.text + "' ble kopiert til utklippstavlen");
                            } );
                        } );
                    </script>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
            <div class="row-fluid">
                <div class="span11 offset1">
                    <footer>Utviklet av Gard Harildstad 2013</footer>
                </div>
            </div>
        </div>

    </body>
</html>
