<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon"
              href="static/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Normill ordliste</title>
        <link href="static/css/bootstrap.css"
              rel="stylesheet" media="screen">
        <link href="static/css/bootstrap-responsive.css"
              rel="stylesheet">
        <link href="static/css/custum.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">Normill ordliste</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Norsk-Engelsk</a></li>
                            <li><a href="#">Engelsk-Norsk</a></li>
                            <li><a href="#about">Om</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="well span12">

                    <form id="search-form">
                        <div class="control-group">
                            <label class="field-title" for="query">Søk etter norsk ord: </label>
                            <div class="controls">
                                <input id="query" name="query" type="text" value="{{ query }}" class="span5">
                            </div>
                            <div class="btn-toolbar" data-toggle="buttons-radio">
                                <button type="button" id="exactWord" class="search-option btn btn-custom active" value="0">Eksakt ord</button>
                                <button type="button" id="startsWith" class="search-option btn btn-custom" value="1">Begynner med</button>
                                <button type="button" id="containsString" class="search-option btn btn-custom" value="2">Inneholder</button>
                            </div>
                        </div>
                        <input type="hidden" id="search-option" name="search-option" value="{{ searchOption }}">
                        <button class="btn btn-custom btn-large" onclick="javascript:submitForm(parent)"><i class="icon-white icon-search"></i> Søk</button>
                    </form>
                    <label class="normal">Fant {{ numberOfHits }} ord</label>

                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="well">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Norsk ord med forklaring
                            </th>
                            <th>
                                Norske forkortelser
                            </th>
                            <th>
                                Engelsk ord
                            </th>
                            <th>
                                Engelske forkortelser
                            </th>
                        </tr>
                    </thead>
                    {% for word in results %}
                    <tr>
                        <td>
                            <label class="nor">{{ word.nor }}</label>
                            {% if word.nor_expl %}
                                <p><label class="nor_expl">{{ word.nor_expl }}</label>
                            {% endif %}
                        </td>
                        <td>
                            {% for abr in word.nor_abr %}
                                <span title="testsedrtsdf" class="label label-info nor_abr">{{ abr }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <label class="eng">{{ word.eng }}</label>
                        </td>
                        <td>
                            {% for abr in word.eng_abr %}
                                <span title="testsedrtsdf" class="label label-info eng_abr">{{ abr }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
            <div class="row-fluid">
                <div class="span8 offset2">
                    <footer>Utviklet av Gard Harildstad 2013</footer>
                </div>
            </div>
        </div>
        <script src="static/js/jquery.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/custum.js"></script>
    </body>
</html>
