
body {
    font-family:"Georgia", Times, serif;
    padding-top: 65px;
}

.well {
    height: 260px;
}

.btn {
    font-family:"Georgia", Times, serif;
    border-color: #72a8c0;
}


#searchtable td { border-top: none; }

#resulttable {
    word-wrap: break-word;
}

#resulttable th {
    font-size: normal;
    font-weight: bold;
    color:#ffffff;
    background-color: #72a8c0;
}

#resulttable .odd {
    background: lightyellow;
}

#resulttable table th:first-child{
    border-radius:4px 0 0 4px;
}

#resulttable table th:last-child{
    border-radius:0 4px 4px 0;
}

.field-title {
    font-size: medium;
    font-weight: bold;
    white-space: nowrap;
}

.normal {
    font-size: normal;
    font-weight: bold;
    white-space: pre-wrap;
}
