
body {
    font-family:"Georgia", Times, serif;
    padding-top: 65px;
}

.btn {
    font-family:"Georgia", Times, serif;
    font-weight: bold;
    color: #000000;
    /*background-color: rgba(113, 148, 175, 0.47);*/
}

.badge {
    font-family:"Georgia", Times, serif;
}

.table {
    margin-bottom: 0px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(255, 230, 192);
}

#searchtable td {
    border-top: none;
}

#resulttable {
    word-wrap: break-word;
}

#resulttable th {
    color:#000000;
    background-color: rgba(255, 239, 183, 0.64);
    vertical-align: top;
    /*background-color: rgba(113, 148, 175, 0.47);*/
    font-size: large;
    font-weight: bold;
}

#resulttable .odd {
    background: rgba(227, 232, 130, 0.22);
}

#resulttable table th:first-child{
    border-radius:4px 0 0 4px;
}

#resulttable table th:last-child{
    border-radius:0 4px 4px 0;
}

.main-title {
    font-size: large;
    font-weight: bold;
}

.field-title {
    font-size: medium;
    font-weight: bold;
}

.word {
    font-size: medium;
    font-weight: bold;
    white-space: pre-wrap;
}

.normal {
    font-size: small;
    font-weight: normal;
    white-space: pre;
}
