<label class="main-title">LANDMILITÆR ORDLISTE med akronymer og forkortelser</label><br><br>
I ordlisten er så vidt mulig gjeldende norsk/engelsk rettskrivning benyttet for alle opslagsord.

Sammensatte ord eller vendinger vil som regel kunne finnes under leddets viktigste ord.

Oppslagsordene er oppført i alfabetisk rekkefølge og satt med halvfet skrift. Forklarende henvisningsforkortelser og vendinger er satt med kursiv.(Se også liste over forklarende henvisningsforkortelser)

Der amerikansk ortografi og terminologi adskiller seg fra britisk engelsk, er begge former anført, markert med (UK) eller (US).
Hvor intet annet er anført, er ordet/vendingen gjeldende NATO terminologi.
Acronymer og forkortelser følger samme regler som ovenfor.
Norske forkortelser og akronymer er markert med (NO).
