<div class="row well">
    <label class="field-title">Om Normil ordliste</label>
    <br>
    I ordlisten er så vidt mulig gjeldende norsk/engelsk rettskrivning benyttet for alle opslagsord.

    Sammensatte ord eller vendinger vil som regel kunne finnes under leddets viktigste ord.

    Oppslagsordene er oppført i alfabetisk rekkefølge og satt med halvfet skrift. Forklarende henvisningsforkortelser og vendinger er satt med kursiv.(Se også liste over forklarende henvisningsforkortelser)

    Der amerikansk ortografi og terminologi adskiller seg fra britisk engelsk, er begge former anført, markert med (UK) eller (US).
    Hvor intet annet er anført, er ordet/vendingen gjeldende NATO terminologi.
    Acronymer og forkortelser følger samme regler som ovenfor.
    Norske forkortelser og akronymer er markert med (NO).
    <br><br>

    <label class="field-title">Søkeoppsjoner</label>
    <ul>
        <li>
            Eksakt lik: Viser bare ord som er eksakt like med søkeordet
        </li>
        <li>
            Begynner med: Viser ord som begynner på søkeordet
        </li>
        <li>
            Inneholder: Viser ord som inneholder søkeordet
        </li>
    </ul>
    <p>
        <label class="field-title">Kopier norske og engelske ord</label>
    <h5>Klikk på ordet for å kopiere det til utklippstavlen</h5>
    <p>
        <label class="field-title">Bruksområder</label>
    <h5>La musepekeren hvile over bruksområdet for en mer utdypende forklaring.</h5>
</div>
