<label class="field-title">Søkeoppsjoner</label><br>
<label class="field-title">Eksakt lik:</label>&nbsp;Viser bare ord som er eksakt like med søkeordet<br>
<label class="field-title">Begynner med:</label>&nbsp;Viser ord som begynner på søkeordet<br>
<label class="field-title">Inneholder:</label>&nbsp;Viser ord som inneholder søkeordet<br>
<label class="field-title">Forkortelser:</label>&nbsp;Søk på forkortelser<br>
<br>
<label class="field-title">Kopier norske og engelske ord</label>
<h5>Klikk på ordet for å kopiere det til utklippstavlen</h5>
<br>
<label class="field-title">Bruksområder</label>
<h5>La musepekeren hvile over bruksområdet for en mer utdypende forklaring.</h5>
