<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Normil ordliste</title>

        <link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="../static/css/custum.css" rel="stylesheet">
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.js"></script>
        <script src="../static/js/ZeroClipboard.js"></script>
        <script src="../static/js/custum.js"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dictionary">LANDMILITÆR ORDLISTE</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/dictionary">Norsk-Engelsk</a></li>
                        <li><a href="/dictionary/eng">Engelsk-Norsk</a></li>
                        <li><a href="/dictionary/help">Hjelp</a></li>
                        <li><a href="/dictionary/about">Om</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container-fluid span10 offset1">

            <div class="well">
            {% if not page or page == 'nor' %}
                {% include "search_nor.html" %}
            {% endif %}
            {% if page == 'eng' %}
                {% include "search_eng.html" %}
            {% endif %}
            {% if page == 'help' %}
                {% include "help.html" %}
            {% endif %}
            {% if page == 'about' %}
                {% include "about.html" %}
            {% endif %}
            </div>
            <div class="well">
                <footer>Copyright © Per Porsild<br><br>
                    The right of Per Porsild to be identified as the Author of the Work has been asserted by him in
                    accordance with the Copyright, Designs and Patents Act. All rights reserved.
                    <br><br>
                    No part of this publication may be reproduced, stored in a retrieval
                    system, or transmitted in any form or by any means without the prior written
                    permission of the author, nor be otherwise circulated in any form of binding, digital or analog
                    reproduction or cover other than that in which it is published and without a similar condition being
                    imposed on the subsequent purchaser.
                </footer>
            </div>
        </div>
    </body>
</html>
