    <form id="search-form">
        <div class="control-group">
            <table id="searchtable" class="table table-condensed">
                <tbody>
                <tr>
                    <td colspan="3" class="text-center">
                        <label class="main-title">LANDMILITÆR ORDLISTE (Norsk - Engelsk)</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <label class="title">med akronymer og forkortelser</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <table align="center">
                            <tr>
                                <td><label>Termer</label>&nbsp;<input type="radio" name="mode" id="mode1" value="terms" checked></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><label>Forkortelser</label>&nbsp;<input type="radio" name="mode" id="mode2" value="abbr"></td>
                            </tr>
                        </table>
                        <input id="mode-arg" type="hidden" value="{{ mode }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center">
                            <tr>
                                <td>
                                    <input id="query" name="query" type="text" class="search-query" value="{{ query }}">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <table align="center">
                            <tr>
                                <td><label>Eksakt term&nbsp;</label><input type="radio" name="option" id="option1" value="EXACT" checked></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><label>Begynner med&nbsp;</label><input type="radio" name="option" id="option2" value="STARTS_WITH"></td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td><label>Inneholder&nbsp;</label><input type="radio" name="option" id="option3" value="CONTAINS"></td>
                            </tr>
                        </table>
                        <input id="option-arg" type="hidden" value="{{ option }}">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <button class="btn btn-info btn-lg" onclick="submitForm(parent)"><i class="icon-white icon-search"></i>Søk</button>&nbsp;&nbsp;&nbsp;
                        {% if query and message %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<label class="field-title">{{ message }}</label>
                        {% elif not query %}
                            &nbsp;&nbsp;&nbsp;&nbsp;<label class="field-title" style="color: red">Søkestring er påkrevet</label>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <br>
    <table id="resulttable" class="table table-condensed  table-bordered table-hover" style="table-layout: auto; ">
        <thead>
        <tr>
            <th>
                Norske termer<br>(eventuelt med forklaring)
            </th>
            <th>
                Bruksområder
            </th>
            <th>
                Engelske termer
            </th>
            <th>
                Forkortelser / Akronymer
            </th>
        </tr>
        </thead>
        <tbody>
        {% if results %}
            {% for word in results %}
                <tr>
                    <td>
                        {#                            <button id="nor-word-{{ loop.index }}" data-clipboard-text="" class="btn btn-xs btn-default word"  title="Klikk for å kopiere ordet til utklippstavlen">{{ word.nor }}</button>#}
                        <label id="nor-word-{{ loop.index }}" data-clipboard-text="" class="word"  title="Klikk for å kopiere ordet til utklippstavlen">{{ word.nor }}</label>
                        {% if word.nor_expl %}
                            <br><label class="normal">{{ word.nor_expl }}</label>
                        {% endif %}
                    </td>
                    <td>
                        {% for usage in word.nor_usages %}
                            {#                                <button class="btn btn-xs btn-default normal" title="{{ abbr.abbr_expl.nor }}">{{ abbr.abbr }}</button>#}
                            <label class="badge normal" title="{{ usage.abbr_expl.nor }}">{{ usage.abbr }}</label>
                        {% endfor %}
                    </td>
                    <td>
                        {#                            <button id="eng-word-{{ loop.index }}" data-clipboard-text="" class="btn btn-xs btn-default word" title="Klikk for å kopiere ordet til utklippstavlen">{{ word.eng }}</button>#}
                        <label id="eng-word-{{ loop.index }}" data-clipboard-text="" class="word" title="Klikk for å kopiere ordet til utklippstavlen">{{ word.eng }}</label>
                    </td>
                    <td>
                        {% for abbr in word.abbr %}
                            {#                                <button title="{{ abbr.obso }}" class="btn btn-xs btn-default normal">{{ abbr.word }}&nbsp;&nbsp;({{ abbr.language }})</button>#}
                            <label title="{{ abbr.obso }}" class="badge normal">{{ abbr.abbr }}&nbsp;&nbsp;({{ abbr.language }})</label>
                        {% endfor %}
                    </td>
                </tr>
                <script type="text/javascript">
                    var clip{{ loop.index }} = new ZeroClipboard( document.getElementById("nor-word-{{ loop.index }}"), {
                        moviePath: "/static/flash/ZeroClipboard.swf"
                    } );
                    document.getElementById("nor-word-{{ loop.index }}").setAttribute('data-clipboard-text', document.getElementById('nor-word-{{ loop.index }}').textContent);

                    var clip{{ loop.index }} = new ZeroClipboard( document.getElementById("eng-word-{{ loop.index }}"), {
                        moviePath: "/static/flash/ZeroClipboard.swf"
                    } );
                    document.getElementById("eng-word-{{ loop.index }}").setAttribute('data-clipboard-text', document.getElementById('eng-word-{{ loop.index }}').textContent);
                    clip{{ loop.index }}.on( "load", function(client) {
                        client.on( "complete", function(client, args) {
                            alert("Ordet '" + args.text + "' ble kopiert til utklippstavlen");
                        } );
                    } );
                </script>
            {% endfor %}
        {% else %}
            <tr>
                <td>Ingen treff</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

