<div class="row">
    <form id="search-form" class="well">
        <div class="control-group">
            <table id="searchtable" class="table">
                <tbody>
                <tr>
                    <td>
                        <div class="controls">
                            <label class="field-title" for="query">Søk etter norske termer: gg</label>
                            <div class="controls">
                                <input id="query" name="query" type="text" value="{{ query }}">
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="controls">
                            <label for="radioGroup" class="field-title">Søkemuligheter</label>
                            <label class="radio ">
                                <input type="radio" name="option" id="radio1" value="exactWord" checked>Eksakt term</label>
                            <label class="radio">
                                <input type="radio" name="option" id="radio2" value="startsWith">Begynner med</label>
                            <label class="radio">
                                <input type="radio" name="option" id="radio3" value="contains">Inneholder</label>
                            <input id="option-arg" type="hidden" value="{{ option }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="controls">
                            <input type="hidden" id="search-option" name="search-option" value="{{ searchOption }}">
                            <button class="btn btn-info btn-lg" onclick="submitForm(parent)"><i class="icon-white icon-search"></i>Søk</button>
                            {% if query and message %}
                                &nbsp;&nbsp;&nbsp;&nbsp;<label class="field-title">{{ message }}</label>
                            {% elif not query %}
                                &nbsp;&nbsp;&nbsp;&nbsp;<label class="field-title" style="color: red">Søkestring er påkrevet</label>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>